{% layout none %}
<!-- <a id="price-btn" style="visibility: hidden; width:100%">
    <div class="button-gradient button-three" style="background-color: #000000; text-align: center; ">
        <span style="color: #ffffff" > 
          <span class="pay-text">Pay  </span> {{ cart.currency.symbol }}<span id="price"></span>
        </span>
    </div>
</a> -->



  <!-- {{ form | payment_button }} -->
  <a id="price-btn-atag">
  <div id="price-btn" style="visibility: hidden;" class="shopify-payment-button" >
    <button type="button" id="buyNowButtonAAowle"   style="background-color: {{ shop.metafields.AAowleBuyNow.buttonColor.value  }};" class=" button-gradient button-three shopify-payment-button__button shopify-payment-button__button--unbranded" data-testid="Checkout-button">
      <span style="color: {{ shop.metafields.AAowleBuyNow.textColor.value  }}" > 
        <span class="pay-text">Pay  </span> {{ cart.currency.symbol }}<span id="price"></span>
      </span>
    </button>
  </div>
</a>


